<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Metadata Microservice</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>File Metadata Analyzer</h1>
  <form action="upload" enctype="multipart/form-data" method="post">
 <div>
   <label for="file">Choose file to upload</label>
   <input type="file" id="file" name="file" required>
 </div>
 <div>
   <input type="submit" value="Upload"/>
 </div>
</form>
<script type="text/javascript" src="client.js"></script>
</body>
</html>